[submodule "dynamics"]
	path = dynamics
	url = git@github.com:Pitan76/NextonDynamics.git
[submodule "machinery"]
	path = machinery
	url = git@github.com:Pitan76/NextonMachinery.git
[submodule "core"]
	path = core
	url = https://github.com/Pitan76/NextonCore.git
